<div class="alumni">
    <div class="container">
        <div class="row">
            <h1 class="pagetitle">Our Alumni</h1>
            <h2 class="pageline">
            Non-Technical People Doing Technical Things
            </h2>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="card">
                    <div class="avatar">
                        <img src="http://i.imgur.com/2E92IRW.jpg" alt="" />
                    </div>
                    <div class="content">
                        <p><b>Will Harrison</b></p>
                        <p>Creative Writing – LSU</p>
                        <p>"Give me a keyboard, 48 snickers bars, and sublime. I'll give you gold."</p>
                
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="card">
                    <div class="avatar">
                        <img src="http://i.imgur.com/FopuzlT.jpg" alt="" />
                    </div>
                    <div class="content">
                        <p><b>Kerry Russell</b></p>
                        <p>Creative Writing – LSU</p>
                        <p>"Give me a keyboard, 48 snickers bars, and sublime. I'll give you gold."</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="card">
                    <div class="avatar">
                        <img src="http://i.imgur.com/i4yio3X.jpg" alt="" />
                    </div>
                    <div class="content">
                        <p><b>Gabe Philbois</b></p>
                        <p>Creative Writing – LSU</p>
                        <p>"Give me a keyboard, 48 snickers bars, and sublime. I'll give you gold."</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="card">
                    <div class="avatar">
                        <img src="http://i.imgur.com/xEbVjwu.jpg" alt="" />
                    </div>
                    <div class="content">
                        <p><b>Vicky Tran</b></p>
                        <p>Creative Writing – LSU</p>
                        <p>"Give me a keyboard, 48 snickers bars, and sublime. I'll give you gold."</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="card">
                    <div class="avatar">
                        <img src="http://i.imgur.com/C6yil8Q.jpg" alt="" />
                    </div>
                    <div class="content">
                        <p><b>Robb Aquadro</b></p>
                        <p>Creative Writing – LSU</p>
                        <p>"Give me a keyboard, 48 snickers bars, and sublime. I'll give you gold."</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="card">
                    <div class="avatar">
                        <img src="http://i.imgur.com/JXF3lLx.jpg" alt="" />
                    </div>
                    <div class="content">
                        <p><b>Andres Neidl</b></p>
                        <p>Creative Writing – LSU</p>
                        <p>"Give me a keyboard, 48 snickers bars, and sublime. I'll give you gold."</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="card">
                    <div class="avatar">
                        <img src="http://i.imgur.com/wo8jmug.jpg" alt="" />
                    </div>
                    <div class="content">
                        <p><b>William Miller</b></p>
                        <p>Creative Writing – LSU</p>
                        <p>"Give me a keyboard, 48 snickers bars, and sublime. I'll give you gold."</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="card">
                    <div class="avatar">
                        <img src="http://i.imgur.com/PUrkFRH.jpg" alt="" />
                    </div>
                    <div class="content">
                        <p><b>Christian Holdsworth</b></p>
                        <p>Creative Writing – LSU</p>
                        <p>"Give me a keyboard, 48 snickers bars, and sublime. I'll give you gold."</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="card">
                    <div class="avatar">
                        <img src="http://i.imgur.com/9pUzQKk.jpg" alt="" />
                    </div>
                    <div class="content">
                        <p><b>Savannah Strachan</b></p>
                        <p>Creative Writing – LSU</p>
                        <p>"Give me a keyboard, 48 snickers bars, and sublime. I'll give you gold."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <img class="src-image"  src="../resources/images/willh.jpg"/>

    <img class="src-image"  src="../resources/images/kerry.jpg"/>

    <img class="src-image"  src=""/>
    	<h1>Alumni and Proud</h1>

    	<p>{{ tagline }}</p>
    </div>
     -->



     <!--    <form class="form-horizontal">

    <fieldset> -->

      <!-- Text input-->
      <!-- <div>
        <label class="col-lg-4 control-label" for="fn"><h2>First Name</h2></label>  
        <div class="col-lg-4">
        <input type="text" ng-model="inputData.firstName" placeholder="First Name" class="form-control input-md" >

        <label class="col-lg-4 control-label" for="fn"><h2>Last Name</h2></label>  
        <div class="col-lg-4">
        <input type="text" ng-model="inputData.lastName" placeholder="Last Name" class="form-control input-md" >
        
     -->


    <!-- 
    </fieldset> -->
      

     
    <!-- Button -->
        <!-- <button type="submit"  class="btn ss_btn" value="submit" ng-click= "addInfo()" ng-model= "inputData">SUBMIT</button>
          </div>

    </form> -->
</div> <!-- view background -->    