<div class="jumbotron text-center">
	<h1>Alumni and Proud</h1>

	<p>{{ tagline }}</p>
</div>




    <form class="form-horizontal">

<fieldset>

  <!-- Text input-->
  <div>
    <label class="col-lg-4 control-label" for="fn"><h2>First Name</h2></label>  
    <div class="col-lg-4">
    <input type="text" ng-model="inputData.firstName" placeholder="First Name" class="form-control input-md" >

    <label class="col-lg-4 control-label" for="fn"><h2>Last Name</h2></label>  
    <div class="col-lg-4">
    <input type="text" ng-model="inputData.lastName" placeholder="Last Name" class="form-control input-md" >
    




</fieldset>
  

 
<!-- Button -->
    <button type="submit"  class="btn ss_btn" value="submit" ng-click= "addRest()" ng-model= "inputData">SUBMIT</button>
      </div>

</form>