<div class="container">
  <div class="row">
    <h1>
        Non Technical People Doing Technical Things
        </h1>
  </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="../resources/images/willh.jpg" alt="" />
                </div>
                <div class="content">
                    <p>Creative Code Writer<br>
                       "Give me a keyboard and 48 snickers bars, and I'll give you gold"</p>
            
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="../resources/images/kerry.jpg" alt="" />
                </div>
                <div class="content">
                    <p>Computer Psychology<br>
                       "I like to really get into the computers hardware to see just what makes that cpu tick"</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="../resources/images/gabe.jpg" alt="" />
                </div>
                <div class="content">
                    <p>Brazilian Computers and Counstruction<br>
                       "I can build you a house or a computer... you choose."</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="../resources/images/vicky.jpg" alt="" />
                </div>
                <div class="content">
                    <p>Computer Graphics Specialist<br>
                       "AR, VR, The Westbank, Photoshop, Angular. Just a few of the things I can do better than you."</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="../resources/images/rob.jpg" alt="" />
                </div>
                <div class="content">
                    <p>Computer Music<br>
                       "I play my keyboard like I play my snare, hard and fast"</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="../resources/images/andreas.jpg" alt="" />
                </div>
                <div class="content">
                    <p>Computer Translater<br>
                       "I speak Spanish, studied English, and write code. I dare you to fuck with me." </p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="../resources/images/bill.jpg" alt="" />
                </div>
                <div class="content">
                    <p>Political Computer Developer<br>
                       "Software is like a politics, hard to understand and always breaking" </p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="../resources/images/chris.jpg" alt="" />
                </div>
                <div class="content">
                    <p>Computer Video Analyst<br>
                       "I still dont know what I'm doing, but my site works!... Kind of."  </p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="../resources/images/savannah.jpg" alt="" />
                </div>
                <div class="content">
                    <p>Economic Software Specialist<br>
                       "Money and computers not only make me go round, but they also make the world go round."</p>
                </div>
            </div>
        </div>
    </div>
</div>


<img class="src-image"  src="../resources/images/willh.jpg"/>

<img class="src-image"  src="../resources/images/kerry.jpg"/>

<img class="src-image"  src=""/><div class="jumbotron text-center">
	<h1>Alumni and Proud</h1>

	<p>{{ tagline }}</p>
</div>




    <form class="form-horizontal">

<fieldset>

  <!-- Text input-->
  <div>
    <label class="col-lg-4 control-label" for="fn"><h2>First Name</h2></label>  
    <div class="col-lg-4">
    <input type="text" ng-model="inputData.firstName" placeholder="First Name" class="form-control input-md" >

    <label class="col-lg-4 control-label" for="fn"><h2>Last Name</h2></label>  
    <div class="col-lg-4">
    <input type="text" ng-model="inputData.lastName" placeholder="Last Name" class="form-control input-md" >
    




</fieldset>
  

 
<!-- Button -->
    <button type="submit"  class="btn ss_btn" value="submit" ng-click= "addInfo()" ng-model= "inputData">SUBMIT</button>
      </div>

</form>