<style>

body{
	background-image: url("http://i.imgur.com/FCtH7Ey.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}



</style>

<div class="container">
<div class="jumbotron text-center transparent">
	<h1 class="proximanovabold">Frequently Asked Questions</h1>
</div>
</div>
</div>

<div class="container">
<div class="jumbotron transparent">
<div class="faq">

	<h2 class="proximanovabold">What is this program?</h2>
	<h4 class="proximanovalight">This is a program designed for students without a computer science or technical background to give them enough experience in the subject to pursue a career in the tech industry or utilize the new skills gained in this 10-week bootcamp in a field of their choice.</h4>

	<h2 class="proximanovabold">Do I need to be a Loyola University New Orleans student in order to apply?</h2>
	<h4 class="proximanovalight">This program recruits students from all of Louisiana, including from Loyola, Tulane, and LSU among other Louisiana universities with hopes to expand beyond the state of Louisiana.</h4>

	<h2 class="proximanovabold">What can I do with the certificate that is awarded upon completion of this program?</h2>
	<h4 class="proximanovalight">Not only is coding a skill in high demand, there are many companies in the New Orleans area prepared to hire local programmers. During this 10-week bootcamp, students will not only gain the skills necessary to successfully code, but also go on weekly site visits to local tech companies in New Orleans. To go with the coding and site visits, lectures devoted to building resumes and developing interviewing skills are also a part of the course schedule. At the end of the program, students will have every skill and tool necessary to immediately pursue a job in the tech industry.</h4>

	<h2 class="proximanovabold">How much does this program cost?</h2>
	<h4 class="proximanovalight">$6,999 for 10 weeks. (Similar programs nationally cost between $9000 and $15000.) The first 10 students to complete an application and submit a deposit will receive a $500 tuition discount.</h4>

</div>
</div>
</div>