<div class="alumni">
	<div class="container">
		<div class="jumbotron text-center">
			<div id="myCarousel" class="carousel slide">
	      		<div class="carousel-inner">
	        		<div class="item active">
	          			<img src="https://pbs.twimg.com/profile_images/880868940473262081/aDbZcGA_.jpg">
	          			<div class="container">
	            			<div class="carousel-caption">
	              				<h1>Learn to Code </h1>
	              				<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	              				<a class="btn btn-large btn-primary" href="#">Apply today!</a>
	            			</div>
	          			</div>
	        		</div>
	        		<div class="item">
	          			<img src="https://pbs.twimg.com/profile_images/880868940473262081/aDbZcGA_.jpg" alt="">
	          			<div class="container">
	            			<div class="carousel-caption">
	              				<h1>Another example</h1>
	              				<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	              				<a class="btn btn-large btn-primary" href="#">Learn more</a>
	            			</div>
	          			</div>
	        		</div>
	        		<div class="item">
	         			<img src="https://pbs.twimg.com/profile_images/880868940473262081/aDbZcGA_.jpg" alt="">
	          			<div class="container">
	            			<div class="carousel-caption">
	              				<h1>One more for good measure.</h1>
	              				<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	              				<a class="btn btn-large btn-primary" href="#">Browse gallery</a>
	            			</div>
	          			</div>
	        		</div>
	      		</div>
	      	<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
	      	<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
	    </div><!-- /.carousel -->
	</div>
	
	<div class="row">
		<div class="container">

			<div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 lefty">
				<p class="paragraph"><b>The Loyola Center for Entrepreneurship and Community Development (CECD)</b> has partnered with Tech Talent South and software development studio, LookFar, to develop a new certificate program in software development.  This innovative 10-week program is designed to bridge the gap between skills aquired through a liberal arts education and the starting point for a career in technology and software development.</p>

				<p class="paragraph">In this ten-week “bootcamp,” you’ll earn more than a certificate you can put on your resume. You'll immerse yourself in a new discipline, and build a foundation for a rewarding career in technology. At Loyola, you will learn in-demand skills from local practitioners.</p>
				
				<p class="paragraph">Through a mix of in-class demonstration and hands-on application, this course teaches all the skills necessary to develop your own web portfolio.</p>

				<h3>Students will learn to:</h3>

					<ul class="menulist"><h4>
						<li>Build and design responsive webpages with core languages HTML and CSS</li>
						<li>Design webpages quickly using front-end frameworks like Bootstrap</li>
						<li>Create web application frameworks with JavaScript</li>
						<li>Prototype database-driven apps</li>
						<li>deploy custom-built applications to the web using cloud-based hosting</li>
						<li>Understand the difference between NoSQL and SQL-based databases, with basic SQL management and querying</li>
						<li>Build their own APIs</li>
						<li>Integrate third-party APIs into an application and pull in data from sources like Google Maps, Stripe, and Facebook</li>
						<li>Apply the crucial skill of domain modeling resources and relationships in database-backed applications</li>
						</h4>
					</ul>
				<br/>
			</div>

			<div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 righty">
			<a class="twitter-timeline" data-width="100%" data-height="600px" href="https://twitter.com/JasonNicosia/lists/nolatech">A Twitter List by JasonNicosia</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>

		</div>
	</div>
<!-- <div>
	<div>

	<div id="menu">
		<div id="menuHeader">
			<ul id="menuHeaderList">
				<li><h2><a href="/application">Apply</a></h2></li>
				<li><h2><a href="/contact">Reach Out</a></h2></li>
				<li><h2><a href="/careers">Learn More</a></h2></li>
			</ul>
		</div>
		<div id="menuBody">
			<ul>
				<li><h3>The Loyola Center for Entrepreneurship and Community Development (CECD) has partnered with Tech Talent South and software development studio LookFar to develop a new certificate program in software development.  This innovative 10-week program is designed to bridge the gap between the core skills learned in a liberal arts education and the starting point for a career in technology and software development.</h3></li>
				<li><h3>In this ten-week “bootcamp,” you’ll earn more than a certificate that you can put on your resume. You will immerse yourself in a new discipline and build a foundation for a rewarding and multifaceted career in technology.   At Loyola, you will learn in-demand local skills from local practitioners.
				
				Through a mix of coursework and hands-on implementation, this course will help you develop your own personal portfolio of web projects.</h3></li>
				<li><h3>Students will learn to:
				<br/>
					<ul><h4>
						<li>Build and design responsive webpages with core languages HTML and CSS</li>
						<li>Design webpages quickly using front-end frameworks like Bootstrap</li>
						<li>Create web application frameworks with JavaScript</li>
						<li>Prototype database-driven apps</li>
						<li>deploy custom-built applications to the web using cloud-based hosting</li>
						<li>Understand the difference between NoSQL and SQL-based databases, with basic SQL management and querying</li>
						<li>Build their own APIs</li>
						<li>Integrate third-party APIs into an application and pull in data from sources like Google Maps, Stripe, and Facebook</li>
						<li>Apply the crucial skill of domain modeling resources and relationships in database-backed applications</li>
						</h4>
					</ul>
				<br/>
					This is what’s used to build billion-dollar companies. It’s also what tech companies in Louisiana and the surrounding region are looking for in their candidates. Desperately so—they can’t find enough candidates qualified to meet what the GNO Community Data Center has cited as an urgent need for growth in the digital sector.</h3></li>
			</ul>
		</div>
	</div>
</div> -->



</div>
</div>
</div>