<div class="jumbotron text-center">
	<h1>Home Page 4 Life</h1>

	<p>{{ tagline }}</p>
</div>

<div id="wow">
<div class="jumbotron ">

<div id="menu">
	<div id="menuHeader">
	<ul id="menuHeaderList">
		<li><h2><a href="/application">Apply</a></h2></li>
		<li><h2><a href="/contact">Reach Out</a></h2></li>
		<li><h2><a href="/careers">Learn More</a></h2></li>
	</ul>
	</div>
	<div id="menuBody">
	<ul>
		<li><h3>The Loyola Center for Entrepreneurship and Community Development (CECD) has partnered with Tech Talent South and software development studio LookFar to develop a new certificate program in software development.  This innovative 10-week program is designed to bridge the gap between the core skills learned in a liberal arts education and the starting point for a career in technology and software development.</h3></li>
		<li><h3>In this ten-week “bootcamp,” you’ll earn more than a certificate that you can put on your resume. You will immerse yourself in a new discipline and build a foundation for a rewarding and multifaceted career in technology.   At Loyola, you will learn in-demand local skills from local practitioners.
		
		Through a mix of coursework and hands-on implementation, this course will help you develop your own personal portfolio of web projects.</h3></li>
		<li><h3>Students will learn to:
		<br />
			<ul><h4>
			<li>Build and design responsive webpages with core languages HTML and CSS</li>
			<li>Design webpages quickly using front-end frameworks like Bootstrap</li>
			<li>Create web application frameworks with JavaScript</li>
			<li>Prototype database-driven apps</li>
			<li>deploy custom-built applications to the web using cloud-based hosting</li>
			<li>Understand the difference between NoSQL and SQL-based databases, with basic SQL management and querying</li>
			<li>Build their own APIs</li>
			<li>Integrate third-party APIs into an application and pull in data from sources like Google Maps, Stripe, and Facebook</li>
			<li>Apply the crucial skill of domain modeling resources and relationships in database-backed applications</li>
			</h4></ul>
		<br />
			This is what’s used to build billion-dollar companies. It’s also what tech companies in Louisiana and the surrounding region are looking for in their candidates. Desperately so—they can’t find enough candidates qualified to meet what the GNO Community Data Center has cited as an urgent need for growth in the digital sector.</h3></li>
	</ul>
	</div>
</div>
</div>

<a class="twitter-timeline" data-width="300" data-height="800" href="https://twitter.com/JasonNicosia/lists/nolatech">A Twitter List by JasonNicosia</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>