<div class="container">
    <div class="row">
        <h1>
       The Leaders of the Pack
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="http://i.imgur.com/6Dr3AGu.png" alt="" />
                </div>
                <div class="content">
                    <p>Brian Jones<br>
                       CEO at Mirliton Media</p>
            
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="http://i.imgur.com/7w3WYh5.jpg" alt="" />
                </div>
                <div class="content">
                    <p>Blake Butterworth<br>
                       Senior Developer at Lookfar</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="http://i.imgur.com/Syg95kx.png" alt="" />
                </div>
                <div class="content">
                    <p>Kate Mccrery<br>
                       Loyola College of Business Program Manager</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="http://i.imgur.com/HcUXyYv.jpg" alt="" />
                </div>
                <div class="content">
                    <p>Jon Atkinson<br>
                       Director of the Center for Entrepreneurship</p>
                </div>
            </div>
        </div>
    </div>
</div>