<div class="container">
	<div class="row">
		<h1>
       The Leaders of the Pack
        </h1>
	</div>
    <div class="row">
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="../resources/images/willh.jpg" alt="" />
                </div>
                <div class="content">
                    <p>Creative Code Writer<br>
                       "Give me a keyboard and 48 snickers bars, and I'll give you gold"</p>
            
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="../resources/images/kerry.jpg" alt="" />
                </div>
                <div class="content">
                    <p>Computer Psychology<br>
                       "I like to really get into the computers hardware to see just what makes that cpu tick"</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="../resources/images/gabe.jpg" alt="" />
                </div>
                <div class="content">
                    <p>Brazilian Computers and Counstruction<br>
                       "I can build you a house or a computer... you choose."</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="../resources/images/savannah.jpg" alt="" />
                </div>
                <div class="content">
                    <p>Economic Software Specialist<br>
                       "Money and computers not only make me go round, but they also make the world go round."</p>
                </div>
            </div>
        </div>
    </div>
</div>