  <div class="panel panel-default">
  <div class="panel-heading"><h3>Tuition</h3></div>
  <div class="panel-body">
    <p>The full tuition cost for this program is $6,999, not including promotional discounts offered during the
enrollment period. The program requires a $1,000 deposit to be submitted no less than 2 weeks before the
start of the program, if enrollment is on or prior to May 15, 2017. If enrollment is after May 15, 2017, the
full amount of tuition including the deposit must be paid by the first day of the program (June 5, 2017).
Since all software used during the program is open source, there are no additional fees for the use of
software within the core curriculum.
If the student withdraws from the program before June 5, 2017, the student shall forfeit the deposit amount
($1,000). If the student withdraws after June 5, 2017, or fails to complete the program, the student shall forfeit the full tuition cost. Because there are no pre-requisites for this non-degree-seeking program, no
credit shall be granted for any previous courses, training, or education completed.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><h3>Weekly Curriculum</h3></h3>
  </div>
  <div class="panel-body" style="text-align: center">
              <h4>Week 1</br></h4><p>HTML5, CSS3</p>
              <h4>Week 2</br></h4><p>Bootstrap, JavaScript Variables and Flow Control, Data Structures, Functions(Part I)</p>
              <h4>Week 3</br></h4><p>JavaScript Functions(Part II), Object Orientation, Ajax, Rest, Promises</p>
              <h4>Week 4</br></h4><p>Ajax Calls cont., JQuery, JQuery UI, Plug Ins, DOM</p>
              <h4>Week 5</br></h4><p>Node.js</p>
              <h4>Week 6</br></h4><p>MongdoDB, SQL, NoSQL, Express intro</p>
              <h4>Week 7</br></h4><p>Express Cont., Angular Intro</p>
              <h4>Week 8</br></h4><p>Angular Cont., API's, Project I</p>
              <h4>Week 9</br></h4><p>Final Project</p>
              <h4>Week 10</br></h4><p>Final Project</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><h3>Daily Schedule</h3></h3>
  </div>
  <div class="panel-body" style="text-align: center">
    <p>Monday-Thursday: 9:00am-4:00pm Friday: Site Visits (Times may vary)</br>DAILY BREAKDOWN: 9:00-10:30= Lecture, 10:45-12:00= Lecture/Practice, 12:00-1:00= LUNCH, 1:00-till= Office Hours with instructors</p>
  </div>
</div>