<style>
.parallax {
    background-image: url("http://i.imgur.com/inwobx4.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
	background-image: url("http://i.imgur.com/C0VsgCr.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: gold;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.caption2 {
  position: relative;
  left: 0;
  top: 15%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption2 span.border {
	background-color: #111;
	color: gold;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}



</style>

<div class="parallax">
</div>
<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">Before class begins this summer, make sure to:</h3>
  <ul>
	<li><a href="http://finance.loyno.edu/bursar/">Submit a deposit</a></li>
	<li><a href="https://www.codecademy.com/">Sign up for Codecademy</a></li>
	<li><a href="https://www.sublimetext.com/">Download Sublime Text</a></li>
	<li>Complete the prework</li>
  </ul>
  <h3 style="text-align:center;">Contact <a href="http://www.business.loyno.edu/cecd/bio/kate-yoo-mccrery">Kate</a> if you have any questions and we'll see you this summer!</h3>
</div>

<div class="parallax2">
</div>



<!-- <div class="jumbotron text-center">
	<h1>Congratulations!</h1>

	<p>{{ tagline }}</p>
</div>

<div class="jumbotron">

	<h2>Before class begins this summer, make sure to:</h2>
	<ul>
		<li>Submit a deposit</li>
		<li>Sign up for Codecademy</li>
		<li>Download Sublime Text</li>
		<li>Complete the prework</li>
	</ul>
	<h3>Contact Kate if you have any questions and we'll see you this summer!</h3>

</div> -->