<div class="container">
	<div class="row">
		<h1>
       Projects from the 2017 cohort
        </h1>
	</div>
    <div class="row">
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="http://i.imgur.com/fsaXlba.png" alt="" />
                    <img src="http://i.imgur.com/5HleSVq.png" alt="" />
                    <img src="http://i.imgur.com/g8kkbHL.png" alt="" />
                    <br>
                    <img src="http://i.imgur.com/X8YIJhw.png" alt = "airbuds jquery code"/>
                    <img src="http://i.imgur.com/WZY58sD.png" alt="" />
                    <img src="http://i.imgur.com/Axe1WpS.png" alt="" />
                </div>
                <div class="content">
                    <p>AirBud, developed by Kerry, Rob and Savannah, was a platform that linked humans and their better halves through profile searches<br></p>
            
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="http://i.imgur.com/2zYslWH.png" alt="" />
                    <img src="http://i.imgur.com/nSE8z6f.png" alt="" />
                    <img src="http://i.imgur.com/vQvZczM.png" alt="" />
                    <br>
                    <img src="http://i.imgur.com/QUstUOV.png" alt = "airbuds jquery code"/>
                    <img src="http://i.imgur.com/HLDhrEd.png" alt="" />
                    <img src="http://i.imgur.com/XmfYZ8y.png" alt="" />
                </div>
                <div class="content">
                    <p>Confederated Dead, by Will and Vicky, was a mobile-responsive aggregated ghost tour site</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="../resources/images/gabe.jpg" alt="" />
                </div>
                <div class="content">
                    <p>Brazilian Computers and Counstruction<br>
                       "I can build you a house or a computer... you choose."</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="../resources/images/savannah.jpg" alt="" />
                </div>
                <div class="content">
                    <p>Economic Software Specialist<br>
                       "Money and computers not only make me go round, but they also make the world go round."</p>
                </div>
            </div>
        </div>
    </div>
</div>