<div class="alumni">   
    <div class="container" style="padding-right: 35px; padding-left: 35px;">
            <div class="jumbotron text-center">
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="http://i.imgur.com/xx7dv5o.png">
                        </div>
                        <div class="item">
                            <img src="http://i.imgur.com/2zYslWH.png">
                            <div class="container">
                                <div class="carousel-caption outsidecaption">
                                    <p>Created by Will Harrison and Vicky Tran</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="http://i.imgur.com/I1OwFSx.png" alt="">
                            <div class="container">
                                <div class="carousel-caption outsidecaption">
                                    <p>Created by Robb Aquadro, Kerry Russell, and Savannah Strachan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="pointer">‹</span></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="pointer">›</span></a>
            </div><!-- /.carousel -->
    </div>
</div>

    <!-- <div class="container">
    	<div class="row">
    		<h1>
           Projects from the 2017 cohort
            </h1>
    	</div>

        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <div class="card">
                    <div class="projectpics">
                        <img src="http://i.imgur.com/fsaXlba.png" alt="" />
                        <img src="http://i.imgur.com/5HleSVq.png" alt="" />
                        <img src="http://i.imgur.com/g8kkbHL.png" alt="" />
                        <br>
                        <img src="http://i.imgur.com/X8YIJhw.png" alt = "airbuds jquery code"/>
                        <img src="http://i.imgur.com/WZY58sD.png" alt="" />
                        <img src="http://i.imgur.com/Axe1WpS.png" alt="" />
                    </div>
                    <div class="content">
                        <p>AirBud, developed by Kerry, Rob and Savannah, was a platform that linked humans and their better halves through profile searches<br></p>
                
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="card">
                    <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    <div class="avatar">
                        <img src="http://i.imgur.com/2zYslWH.png" alt="" />
                        <img src="http://i.imgur.com/nSE8z6f.png" alt="" />
                        <img src="http://i.imgur.com/vQvZczM.png" alt="" />
                        <br>
                        <img src="http://i.imgur.com/QUstUOV.png" alt = "airbuds jquery code"/>
                        <img src="http://i.imgur.com/HLDhrEd.png" alt="" />
                        <img src="http://i.imgur.com/XmfYZ8y.png" alt="" />
                    </div>
                    <div class="content">
                        <p>Confederated Dead, by Will and Vicky, was a mobile-responsive aggregated ghost tour site</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div> -->