<!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="sanspagetitle">
                    Local Site Visits
                </h1>
                <p class="tagline">Each Friday, bootcamp students visit tech companies in the New Orleans area to explore and ask questions.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default visit">
                    <div class="panel-heading">
                        <h4>LookFar</h4>
                            <img src="http://i.imgur.com/kpFP67l.png">
                    </div>
                    <div class="panel-body">
                        <p>LookFar partners with startups and established businesses to help them prioritize their goals and build exceptional software.</p>
                        <a href="http://www.lookfar.com/" class="sitelink">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default visit">
                    <div class="panel-heading">
                        <h4>Lucid</h4>
                            <img src="http://i.imgur.com/5aqz6dJ.png">
                    </div>
                    <div class="panel-body">
                        <p>Ludic is responsible for creating the largest local audience platform - over twelve billion human answers have been compiled through their software.</p>
                        <a href="https://luc.id/" class="sitelink">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default visit">
                    <div class="panel-heading">
                        <h4>GE Digital</h4>
                        <img src="http://i.imgur.com/JqBqZ62.png">
                    </div>
                    <div class="panel-body">
                        <p>GE digital is leading efforts to harness the power of big data and the Industrial Internet to change the way business is done. Join the third Industrial Revolution.</p>
                        <a href="https://www.ge.com/digital/" class="sitelink">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default visit">
                    <div class="panel-heading">
                        <h4>TurboSquid</h4>
                            <img src="http://i.imgur.com/d3945L2.jpg">
                    </div>
                    <div class="panel-body">
                        <p>Revolutionizing the way that 3D products are bought, sold and delivered by creating a new and focused digital marketplace.</p>
                        <a href="http://www.turbosquid.com" class="sitelink">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default visit">
                    <div class="panel-heading">
                        <h4>Civic Source</h4>
                            <img src="http://i.imgur.com/jvpFZul.png">
                    </div>
                    <div class="panel-body">
                        <p>The leading audtioneer of tax-distressed real estate. From tax sales to adjudicated property auctions, CivicSource digitizes due process compliance to ensure legally valid sales.</p>
                        <a href="http://civicsource.com" class="sitelink">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default visit">
                    <div class="panel-heading">
                        <h4>Pupular</h4>
                            <img src="http://i.imgur.com/QijXDgX.jpg">
                    </div>
                    <div class="panel-body">
                        <p>Pupular to make dogs happy and bring people together. Pupular addresses the need for a fun, easy, and safe way for humans to socialize their dogs.</p>
                        <a href="http://stories.barkpost.com/pupular-the-app/" class="sitelink"> Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default visit">
                    <div class="panel-heading">
                        <h4>inXile</h4>
                            <img src="http://i.imgur.com/tWFwI6A.jpg">
                    </div>
                    <div class="panel-body">
                        <p>The principles at inXile entertainment have worked on every new game console dating back to the 8 Bit Nintendo in the late 1980’s. The introduction of the Xbox 360 and PS3 is the 5th time they have experienced getting up to speed on a ‘Next Gen’ console.</p>
                        <a href="https://inxile-entertainment.com/" class="sitelink">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default visit">
                    <div class="panel-heading">
                        <h4>The HOST</h4>
                            <img src="http://i.imgur.com/iovfpsM.png">
                    </div>
                    <div class="panel-body">
                        <p>The HOST connects travelers with hospitality providers to create a vacation experience that benefits everyone. Driven by innovative thinking and an inclusive approach, we empower travelers to ask for more and service providers to grow their business.</p>
                        <a href="https://www.noew.org/startups/the-host" class="sitelink">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default visit">
                    <div class="panel-heading">
                        <h4>iSeatz</h4>
                            <img src="http://i.imgur.com/aRtvECu.jpg">
                    </div>
                    <div class="panel-body">
                        <p>iSeatz is an independent software company based in New Orleans that works with clients across the globe to build innovative and beautiful customer experiences.</p>
                        <a href="http://www.iseatz.com/" class="sitelink">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
