/*body { padding-top:30px; }

#success_message{ display: none;}*/

.navbar-default .navbar-nav>li>a{
	/*color: red;*/
}

a.college {
	font-size: 20px;
	text-decoration: none;
}

a.center {
	font-size: 20px;
	text-decoration: none;
}

span.divider{font-size: 20px;}

a.course {
	font-family: "slab-bold", serif;
	text-decoration: none;
	display: block;
	font-size: 20px;
	line-height: 0.7em;
	letter-spacing: 0.85px;
	font-weight: lighter;
}

@font-face {
  font-family: slab-bold;
  src: local("RobotoSlab"),
       url(RobotoSlab-Bold.ttf);
  font-weight: bold;
}